body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);}

.img-logo{
    width: 10rem;
    height: 4rem;
}


.video{
    margin-top: 2rem;
    max-width: 10rem;
}

.lateral{
    
}
